/*** MENU DESPLEGABLE ***/

.menu-des a{
	font-size: 1em;
}

/***HEADER***/

#logo{
	width: 50px;
	height: 50px;
	box-shadow:         7px 7px 4px 3px rgba(38, 176, 230, 0.70);	
		-webkit-box-shadow: 7px 7px 4px 3px rgba(38, 176, 230, 0.70);
		-moz-box-shadow:    7px 7px 4px 3px rgba(38, 176, 230, 0.70);
}
	#logo p{
		font-size:1.8em ;
	}
.navegacion{
	padding-top: 4%;
	margin-left: 74%
}
	nav span{
		float:right;
	}
#header-cont{
	padding-top:25%;
}
#header-cont h1{
	font-size:4em;
	text-align: center;
}
#header-cont p{
	font-size: 1.1em;
	text-align: center;
}
#header-cont a{
	font-size: 1.2em;
	padding: 8px 16px;
	margin-top: 5%;
}
#header-cont img{
	visibility: hidden;
}

/*** SECTION ***/

section{
	background:  #f4f4f4;
}
	section #cont-section{
		margin-top:10%;
	}
		#cont-section h2{
			text-align: center;
		}
		#cont-section p{
			margin-top: 8%;
			text-align: justify;
			font-size: 1em;
		}
		#cont-section blockquote{
			margin-left: 6px;
			padding: 0px 10px;
			font-size: 0.8em;
		}
		.botton-hello{
			text-align: center;
			margin-top: 10%;
		}
		#cont-section a{
			margin-top:10%;
		}

/*** PORTAFOLIOS ***/

#portafolios{
	background:#fff ;
}
	.descri-porta{
		margin-top:15%;
		text-align: center;
	}
		.descri-porta h3{
			margin-top:10%;
			font-size: 2em;
		}
		.descri-porta p{
			margin-top:8%;
			font-size: 1em;
		}
		.descri-porta a{
			font-size: 1em;
			margin-top:10%;
		}

/*** CONTACTO ***/

#pregunta h4{
	margin-top:10%;
	font-size: 2em;
}
#redessociales li {
    padding: 0px;
    margin-right: 10px;
    margin-top:20%;
}
.newsletter{
	margin-top:18%;
}
	#redessociales label {
		text-align: center;
	}
	#redessociales .email {
		text-align: center;
		margin-top: 5%;
	}

/*** FOOTER ***/
footer p{
	padding-top:13%;
	font-size:0.9em;
}
footer #botton-arriba{
	margin-top:10%;
}

/*** MEDIA QUERIES***/

@media only screen and (min-width: 379px) and (max-width: 429px) {

/*** MENU DESPLEGABLE ***/

.menu-des a{
	font-size: 0.9em;
}

/***HEADER***/

	.navegacion{
		margin-left: 72%;
    }
	#header-cont h1{
		font-size:3.5em  ;
	}
	#header-cont p{
		font-size: 1em;
	}
	#header-cont a{
		font-size: 1.1em;
	}

/*** SECTION ***/

	#cont-section h2{
		font-size: 1.9em;
	}
	#cont-section p{
		font-size: 0.9em;
	}
	#cont-section blockquote{
		font-size: 0.9em;
	}
	#cont-section a{
		font-size: 0.9em;
	}

/*** PORTAFOLIOS ***/

.descri-porta h3{
	font-size:2em;		
}
.descri-porta p{
	font-size:0.96em;					
}
.descri-porta a{
	font-size:0.9em;		
}

/*** CONTACTO ***/

#pregunta h4{
	font-size: 1.8em;
}
#pregunta a{
	font-size: 1em;
}

/*** FOOTER ***/
footer p{
	padding-top:15%;
	font-size:0.8em;
}
footer #botton-arriba{
	margin-top:11%;
}
}
@media only screen and (min-width: 329px) and (max-width: 378px) {

/*** MENU DESPLEGABLE ***/

.menu-des a{
	font-size: 0.7em;
}

/***HEADER***/

	.navegacion{
		margin-left: 70%;
    }	
    #header-cont h1{
		font-size:3em  ;
	}
	#header-cont p{
		font-size: 0.8em;
	}
	#header-cont a{
		font-size: 1em;
	}

/*** PORTAFOLIOS ***/

.descri-porta h3{
	font-size:2em;		
}
.descri-porta p{
	font-size:0.96em;					
}
.descri-porta a{
	font-size:0.9em;		
}

/*** CONTACTO ***/

#pregunta h4{
	font-size: 1.7em;
}
#pregunta a{
	font-size: 0.9em;
}

/*** FOOTER ***/
footer p{
	padding-top:18%;
	font-size:0.68em;
}
footer #botton-arriba{
	margin-top:13%;
}
}
@media only screen and (min-width: 279px) and (max-width: 328px) {

/*** MENU DESPLEGABLE ***/

.menu-des a{
	font-size: 0.6em;
}

/***HEADER***/
	.navegacion{
		margin-left: 68%;
    }	
    #header-cont h1{
		font-size:2.5em  ;
	}
	#header-cont p{
		font-size: 0.7em;
	}
	#header-cont a{
		font-size: 0.9em;
	}	
/*** SECTION ***/

	#cont-section h2{
		font-size: 1.8em;
	}
	#cont-section p{
		font-size: 0.88em;
	}
	#cont-section blockquote{
		font-size: 0.9em;
	}
	#cont-section a{
		font-size: 0.88em;
	}
/*** PORTAFOLIOS ***/

.descri-porta h3{
	font-size:1.6em;		
}
.descri-porta p{
	font-size:0.9em;					
}
.descri-porta a{
	font-size:0.8em;		
}
/*** CONTACTO ***/

#pregunta h4{
	font-size: 1.5em;
}
#pregunta a{
	font-size: 0.9em;
}

/*** FOOTER ***/
footer p{
	padding-top:18%;
	font-size:0.68em;
}
footer #botton-arriba{
	margin-top:13%;
}
}
@media only screen and (max-width: 278px) {

/*** MENU DESPLEGABLE ***/

.menu-des a{
	font-size: 0.5em;
}

/***HEADER***/

	.navegacion{
		margin-left: 63%
    }	
    	#header-cont h1{
		font-size:2em;
	}
	#header-cont p{
		font-size: 0.6em;
	}
	#header-cont a{
		font-size: 0.8em;
	}	
/*** SECTION ***/

	#cont-section h2{
		font-size: 1.3em;
	}
	#cont-section p{
		font-size: 0.8em;
	}
	#cont-section blockquote{
		font-size: 0.9em;
	}
	#cont-section a{
		font-size: 0.8em;
}

/*** PORTAFOLIOS ***/

.descri-porta h3{
	font-size:1.3em;		
}
.descri-porta p{
	font-size:0.8em;					
}
.descri-porta a{
	font-size:0.6em;		
}

/*** CONTACTO ***/

#pregunta h4{
	font-size: 1.3em;
}
#pregunta a{
	font-size: 0.8em;
}

/*** FOOTER ***/
footer p{
	padding-top:18%;
	font-size:0.68em;
}
footer #botton-arriba{
	margin-top:15%;
}